/ModifiedNews/data/train.csv
/ModifiedNews/data/test_data.csv
/ModifiedNews/data/test.csv
/ModifiedNews/data/dev.csv
/MyNews/*
/NineNews/data/dev.csv
/NineNews/data/test.csv
/NineNews/data/train.tmp
/NineNews/data/train.csv
/*/saved_dict/*
/bert_pretrain/*
/ERNIE_pretrain/*
